{
  "extends": [
    "ts-important-stuff",
    "plugin:prettier/recommended"
  ],
  "rules": {
    "prefer-const": "error",
    "no-console": "off",
    "no-unused-vars": "error",
    "no-duplicate-imports": "error",
    "one-var": ["error", "never"],
    "no-undef": "off",
    "no-useless-escape": "off"
  },
  "parser": "@babel/eslint-parser",
  "env": {
    "es6": true,
    "node": true,
    "browser": true
  },
  "parserOptions": {
    "ecmaVersion": 10
  },
  "ignorePatterns": [
    "docs",
    "node_modules"
  ]
}
